* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    max-width: 100%;
    color: white;
}

.hero {
    top: 0;
    background-image: url(assets/hero\ image.jpg );
    background-position: center;
    height: 90vh;
    width: 100%;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}


.logoname {
    margin-left: 2rem;
    font-weight: 900;
    font-size: 19px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.nav-bar {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 2;

}

.nav {
    margin-right: 2rem;
    display: flex;
    gap: 1.5rem;
}


.nav-anchor{
    text-decoration: none;
    font-size: 14px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
    font-weight: 900;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);


}

.middle-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    text-align: center;


}

.explore-text {
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
    font-weight: 300;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.7);
    color: #ffffff;
    margin: 0;
    line-height: 1;

}

.kumaon-text {
    font-size: 5rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    font-weight: 800;
    color: white;
    margin: 0;
    line-height: 1;

    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.8),
        0 0 25px rgba(0, 0, 0, 0.5);
}
.panels{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-panel {
    height: 60px;
    width: 70%;
    display: flex;
    position: absolute;
    top: 85.5vh;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.boxes{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    text-align: center;
    justify-content: center;
    color: gray;
    width: 24%;
    gap: 0.5rem;
    border: 0.1px solid gray;
}
.highligth-box{
    background-color: #092938;
}

.icon{
    color: grey;
}
.panel-links{
    text-decoration: none;
    color: grey;
}
.search-link{
    text-decoration: none;
    color: white;
}